<div class="container">
<img [src]="food.imageURL" [alt]="food.name">
<div class="details">
  <div class="header">
    <span class="name">
      {{food.name}}
    </span>
    <span class="favorite {{food.favorite? '' : 'not'}}">❤</span>
  </div>
  <div class="stars">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>{{food.stars}}
  </div>

  <div class="origins">
    <span *ngFor="let origin of food.origins">
      {{origin}}
    </span>
  </div>

  <div class="tags">
    <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
  {{tag}}
    </a>
  </div>
  <div class="cookTime">
    <span >
      Time To Cook about <strong>{{food.cookTime}}</strong>
    </span>
  </div>
  <div class="price">
    <span>{{food.price | currency}}</span>
  </div>
  <button (click)="addToCart()">Add To Cart</button>
</div>
</div>
